 .page {
     display: none;
 }

 #divPage {
     background-color: chartreuse;
     box-sizing: 50px;
     border-radius: 10px;

 }

 #divHidden {
     background-color: chartreuse;
     box-shadow: 10px;
     border-radius: 10px;
 }